{
  "presets": [
    "@babel/env",
    ["@babel/typescript", {"allowNamespaces": true}]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-transform-runtime",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
